/*===============SECTION====================*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px){
  .container {
  width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
  width: 1158px;
  padding: 0 15px;
  
}
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*======================================*/

/*==============HEADER===================*/

.header-container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.nav-header {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.part-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-item:hover,
.header-list-item:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-menu {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-menu:hover,
.address-menu:focus {
  color: #404bbf;
}

/*======================================*/

/*===============HERO=======================*/

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-image-mob.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),(min-resolution: 2dppi){
  .hero{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-image-mob2x.jpg);
  }
}

@media screen and (min-width: 768px){
  .hero{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-image-tab.jpg);
    max-width: 768px;
    padding-top: 112px;
  padding-bottom: 112px;
  }

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),(min-resolution: 2dppi){
  .hero{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-image-tab2x.jpg);
  }
}
  
}

@media screen and (min-width: 1158px){
  .hero{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-image.jpg);
     max-width: 1440px;
     padding-top: 188px;
  padding-bottom: 188px;
  }

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),(min-resolution: 2dppi){
  .hero{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-image-2x.jpg);
  }
}

}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px){
.hero-title{
font-size: 56px;
line-height: 1.07;
max-width: 496px;
margin-bottom: 36px;
}
}

@media screen and (min-width: 1158px){
  .hero-title{
  margin-bottom: 48px;
  }
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

/*======================================*/

/*==============HIDDEN=================*/

.hidden {
  padding: 96px 0;
}

@media screen and (min-width: 1158px){
.hidden {
  padding: 120px 0;
}
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px){
  .text-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
}
}

.section-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  width: 264px;
  height: 112px;
  padding: 24px 100px;
  margin-bottom: 8px;
}


.hidden-list-item {
  width: 100%;
}

@media screen and (min-width: 768px){
  .hidden-list-item {
  width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px){
  .hidden-list-item {
  width: calc((100% - 3 * 24px) / 4);
}
}

.hidden-list-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 1158px){
  .hidden-list-text{
    font-weight: 400;
  }
}

.hidden-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px){
  .hidden-list-title{
    text-align: left;
  }
}

@media screen and (min-width: 1158px){
.hidden-list-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
}

.hidden-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

@media screen and (max-width: 1157px) {
  .hidden-icon{
    display: none;
  }
}

/*======================================*/

/*===============TEAM=====================*/

.team {
  background: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
}


@media screen and (min-width: 1158px){
  .team {
    padding-bottom: 120px;
  padding-top: 120px;
  }
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

@media screen and (min-width: 768px){
.team-list{
flex-direction: row;
flex-wrap: wrap;
gap: 64px 24px;

}
}

@media screen and (min-width: 1158px){

  
}

.team-list-item {
  background-color: #ffffff;
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px){
.team-list-item{
width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px){
.team-list-item {
  width: calc((100% - 72px) / 4);
}
}

.container-team-list {
  padding: 32px 0;
}

.team-images {
  width: 100%;
}

.team-title-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.link-list-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icon-list {
  width: 40px;
  height: 40px;
}
.team-link-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

/*======================================*/

/*==============PORTFOLIO==================*/

.portfolio {
  padding-bottom: 96px;
  padding-top: 96px;
}

@media screen and (min-width: 1158px){
.portfolio{
    padding-bottom: 120px;
  padding-top: 120px;
}
}



.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
}

@media screen and (min-width: 768px){
.portfolio-list{
  flex-direction: row;
  gap: 72px 24px;
  }
}


.portfolio-list-item {
  width: 100%
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px){
.portfolio-list-item{
width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px){
  .portfolio-list-item{
width: calc((100% - 48px) / 3);
  }
}

.portfolio-list-item:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .card-overflow-text {
  transform: translateY(0%);
}

.container-portfolio-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-wrap {
  position: relative;
  overflow: hidden;
}

.card-overflow-text {
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*======================================*/

/*==============FOOTER=====================*/
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footent {
  display: flex;
  align-items: baseline;
}

.footer-logotype-container {
  margin-right: 120px;
}

.footer-part-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-link-container {
}
.footer-link-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-list-icon {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-icon-list {
  width: 40px;
  height: 40px;
}
.footer-link-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.subcribe-container {
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  width: 453px;
  height: 80px;
  margin: 0 auto;
  margin-left: 80px;
  gap: 16px;
}

.subscribe-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.email-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.email-form-list {
}

.email-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #fff;
}

.button-subscribe {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.fotter-button-icon {
  margin-left: 16px;
  fill: #f4f4fd;
}

/*======================================*/

/*==============MODAL=====================*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button-close:hover .button-close-icon,
.modal-button-close:focus .button-close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.name-form {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-user {
  position: relative;
}

.input-user {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-user:hover,
.input-user:focus {
  border-color: #4d5ae5;
}

.user-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-user:hover + .user-icon,
.input-user:focus + .user-icon {
  fill: #4d5ae5;
}

.name-form-comment {
  margin-bottom: 16px;
}

.comment-form {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-form:hover,
.comment-form:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.privacy-text {
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.fake-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: transparent;
  margin-right: 8px;
}

.modal-check:checked + .privacy-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;}

.privacy-link {
  line-height: 16px;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}


.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
padding: 16px 32px;
margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: #4d5ae5;
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
